# R lang
.Rproj.user
.Rhistory
.RData
.Ruserdata
summer.rxproj
summerTest.Rproj

# Python lang
env/
venv/
# *.pyc
.pytest_cache

# Code editors
.idea
.vscode

# Secrets
*.secret.*

# Documents, images
*.pdf
*.csv
*.png

# Misc
for
.suo
